
<div class="container col-12 col-lg-6 my-4">
  <%= render 'shared/flashes' %>

  <h2><%= current_employee.nickname %>'s Leaves</h2>

  <div class="my-4">
    <%= form_with(url: leaves_path, method: :get) do |f| %>
      <div class="card">
        <div class="card-body d-flex flex-row align-items-center h-100">
          <div class="mx-2">
            <%= f.label :leave_type, "Leave type", class: "form-label" %>
            <%= f.select :leave_type, options_for_select(["Sick", "Vacation"], selected: params[:leave_type]), { prompt: "Select type" }, class: "form-select" %>
          </div>
          <div class="mx-2">
            <%= f.label :status, "Status", class: "form-label" %>
            <%= f.select :status, options_for_select(["Pending", "Approved", "Rejected", "Cancelled"], selected: params[:status]), { prompt: "Select status" }, class: "form-select" %>
          </div>
          <div class="mx-2">
            <%= f.label :month, "Month", class: "form-label" %>
            <%= f.select :month, options_for_select(@months, selected: params[:month]), { prompt: "Select month" }, class: "form-select" %>
          </div>
          <div class="mx-2">
            <%= f.label :year, "Year", class: "form-label" %>
            <%= f.select :year, options_for_select(@years, selected: params[:year]), { prompt: "Select year" }, class: "form-select" %>
          </div>
          <div class="mx-2 w-25">
            <%= f.submit "Filter", class: "btn btn-primary w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-2 d-flex flex-row" data-controller="tooltip">
    <div class="card w-50 me-2 alert alert-warning">
      <% if @remaining_sl < 0 %>
        <span class="position-absolute end-0 me-3 mt-1" data-bs-toggle="tooltip" data-bs-title="You've filed more than 15 SLs (<%= -@remaining_sl %> above limit)">
          <i style="width: 24px; height: 24px;" class="fa-solid fa-circle-exclamation"></i>
        </span>
      <% end %>
      <h4>SL: <span class="fw-bold"><%= @remaining_sl < 0 ? 0 : @remaining_sl %>/15</span> remaining</h4>
      <div>
        <span class="fw-bold"><%= @approved_sl %></span> approved,
        <span class="fw-bold"><%= @pending_sl %></span> pending
      </div>
    </div>
    <div class="w-50 ms-2 alert alert-info">
      <% if @remaining_vl < 0 %>
        <span class="position-absolute end-0 me-3 mt-1" data-bs-toggle="tooltip" data-bs-title="You've filed more than 15 VLs (<%= -@remaining_vl %> above limit)">
          <i style="width: 24px; height: 24px;" class="fa-solid fa-circle-exclamation"></i>
        </span>
      <% end %>
      <h4>VL: <span class="fw-bold"><%= @remaining_vl < 0 ? 0 : @remaining_vl %>/15</span> remaining</h4>
      <div>
        <span class="fw-bold"><%= @approved_vl %></span> approved,
        <span class="fw-bold"><%= @pending_vl %></span> pending
      </div>
    </div>
  </div>
  

  <% @leaves.each do |leave| %>
    <div class="my-1 card">
      <div class="card-body border-start rounded border-4 <%= get_type_border(leave.leave_type) %>">
        <div class="card-title row align-items-center">
          <div class="col-9">
            <h4><%= leave.day_count %>-day <%= leave.leave_type.capitalize %> Leave</h4>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <% if leave.status == "pending" %>
              <a class="btn btn-secondary mx-1" href="<%= edit_leave_path(leave) %>">Edit</a>
            <% end %>
            <% if ["pending", "approved"].include? leave.status %>
              <a class="btn btn-secondary mx-1" href="<%= cancel_leave_path(leave) %>" data-turbo-method="patch">Cancel</a>
            <% end %>
          </div>
        </div>
        <div class="card-text row">
          <div class="col-6 row">
            <div class="col-4">
              <div>From:</div>
              <div>To: </div>
              <div>Reason: </div>
            </div>
            <div class="col-8">
              <div><%= leave.start_date.strftime("%Y %b %-d") %></div>
              <div><%= leave.end_date.strftime("%Y %b %-d") %></div>
              <div class="<%= "text-muted" if !leave.reason? %>"><%= leave.reason? ? leave.reason : "none" %></div>
            </div>
          </div>
          <div class="col-6 row">
            <div class="col-4">
              <div>Updated: </div>
              <div>Approver: </div>
              <div>Status: </div>
            </div>
            <div class="col-8">
              <div><%= leave.updated_at.strftime("%Y %b %-d, %I:%M%p") %></div>
              <div><%= leave.approver.email %></div>
              <div>
                <span class="badge <%= get_status_badge(leave.status)%>"><%= leave.status.capitalize %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

