<div class="col-12 col-md-6 mt-3 mt-md-0 card card-body card-box-shadow availed-activities-container equal-height">
  <% if @item_breakdown.present? %>
    <div class="equal-height">
      <div class="table-responsive">
          <table class="table caption-top">

            <% if params[:date].present? %>
              <% month = params[:date][:month].to_i %>
              <% year = params[:date][:year].to_i %>

              <% start_date = Date.new(year, month, 6) %>
              <% end_date = (start_date + 1.month) - 1.day %>

              <div>
                <p class="text-muted mb-0">Availed Activities</p>
                <p class="mb-0 text-secondary fst-italic small">
                  <%= start_date.strftime('%B %d, %Y') %> – <%= end_date.strftime('%B %d, %Y') %>
                </p>
              </div>

            <% else %>
              <caption class="pt-0">Availed Activities</caption>
            <% end %>

            <thead class="table-light">
              <tr>
                <th scope="col">Activity</th>
                <th scope="col">Engaged Employees</th>
                <th class="text-end" scope="col">Consumption</th>
              </tr>
            </thead>
            <tbody>
              <% @item_breakdown.each do |item| %>
                <%
                  participated_employees = item.participated_employees.map do |employee|
                    employee.active ? employee.nickname : "#{employee.nickname} (Inactive)"
                  end.join(", ")
                %>
                <tr>
                  <td class="text-truncate table-width-150">
                    <div class="d-flex">
                      <div>
                        <%= item.name %>
                        <div class="text-muted fs-7">
                          <%= item.formatted_activity_date %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="participated-employee-cell" title="<%= participated_employees %>"><%= participated_employees %></td>
                  <td class="text-end"><%= item.formatted_shared_amount %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <%= image_tag("Robot_Working.gif", height: 200, width: 240 )%>
    </div>
    
    <div class="d-flex flex-column mx-auto my-2">
      <p class="text-center fw-bold me-2 mb-0">Nothing to display yet.</p>
      <%= link_to new_reimbursement_path(employee_id: params[:employee_id]), class: "btn btn-sm btn-primary rounded-pill" do %>
        File Reimbursement <i class="bi bi-arrow-right-circle"></i>
      <% end %>
    </div>
  <% end %>
</div>
