<% if @filed_reimbursements.present? %>
<div class="card card-body">
  <h5>Filed Reimbursements</h5>

  <div class="table-responsive">
    <table class="table">
      <thead class="table-light">
        <th scope="col">Activity</th>
        <th scope="col">Supplier</th>
        <th scope="col">Status</th>
        <th scope="col">Employees</th>
        <th class="text-end" scope="col">Invoice Amount</th>
        <th class="text-end" scope="col">Reimbursable Amount</th>
      </thead>
      <tbody>
        <% @filed_reimbursements.each do |reimbursement| %>
          <% participated_employees = reimbursement.participated_employees.map(&:nickname).join(", ") %>
          <tr>
            <td class="text-truncate table-width-150">
              <div class="d-flex">
                <div>
                  <%= reimbursement.name %>
                  <div class="text-muted fs-7">
                    <%= reimbursement.activity_date.strftime("%B %d, %Y") %>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <div class="text-truncate table-width-180" title="<%= reimbursement.supplier %>">
                  <%= reimbursement.supplier %>
                  <div class="text-muted fs-7" title="<%= reimbursement.invoice_reference_number %>">
                    <% if reimbursement.image.attached? %>
                      <%= link_to "Reference Number: #{reimbursement.invoice_reference_number}", url_for(reimbursement.image), target: "_blank", rel: "noopener" %>
                    <% else %>
                      Reference Number: <%= reimbursement.invoice_reference_number %>
                    <% end %>
                  </div>
                </div>
              </div>
            </td>
            <td><span class="badge rounded-pill text-bg-<%= set_status_badge(reimbursement.status) %>"><%= reimbursement.status.capitalize %></span></td>
            <td class="text-truncate table-width-150" title="<%= participated_employees %>"><%= participated_employees %></td>
            <td class="text-end"><%= format_amount(reimbursement.invoice_amount) %></td>
            <td class="text-end"><%= format_amount(reimbursement.reimbursable_amount) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>