<%= form_with(model: reimbursement, data: { controller: "form-validation", action: "submit->form-validation#validateForm" }) do |form| %>
  <div class="container col-12 col-md-6 py-2">
    <%= render 'shared/flashes' %>
    <%= render 'shared/toast' %>

    <h2>Before we begin</h2>
    <p>Please ensure all requirements are fulfilled before filing your benefit request:</p>

    <ol>
      <li>Have an invoice from the establishment ready. This invoice must be named to  <strong>LOUDCLOUD INC.</strong>, <strong>TIN# 008-052-609-000</strong>, with address at <strong>1 Champaca St., Roxas District, Quezon City 1103</strong>.</li>
      <li>Make sure to check the invoice date! An invoice related to the EE Program must be filed no later than the 5th day of the month following the Invoice Date.</li>
    </ol>

    <p>Note that Benefit Requests with insufficient or erroneous requirements may be denied. For questions and clarifications, contact any member of HR & Admin.</p>

    <hr>
    
    <h2>EE Program Benefit Request Form</h2>
    <div class="row">
      <div class="col-6">
        <%= form.label :employee_id, class: "form-label" %>
        <%= form.select :employee_id, options_for_select(@active_employees, selected: params[:employee_id] || nil), { prompt: "Select an employee" }, id: 'employee_select', data: { controller: 'employee_select' }, required: true %>
      </div>

      <div class="col-6">
        <%= form.label :category_id, class: "form-label" %>
        <%= form.select :category_id, @categories.map { |category| [category.name, category.id] }, { prompt: "Select a category" }, id: 'category_select', data: { controller: 'employee_select' }, required: true %>
      </div>

      <div>
        <%= form.label :activity_date, class: "form-label" %>
        <%= form.date_field :activity_date, max: Date.today, class: "form-control", required: true %>
      </div>

      <div class="col-6">
        <%= form.label :invoice_reference_number, "Reference Number", class: "form-label" %>
        <%= form.text_field :invoice_reference_number, class: "form-control", placeholder: "e.g., INV-12345-#{Date.today.year}", required: true %>
      </div>

      <div class="col-6">
        <%= form.label :invoice_amount, class: "form-label" %>
        <%= form.text_field :invoice_amount, class: "form-control", placeholder: "Enter invoice amount", required: true %>
      </div>

      <div>
        <%= form.label :participated_employee_ids, "Participated Employees", class: "form-label" %>
        <%= form.select :participated_employee_ids, 
              options_for_select(@employees.map { |employee|
                nickname = employee.active ? employee.nickname : "#{employee.nickname} (Inactive)"
                [nickname, employee.id]
              },
              selected: params[:employee_id] || nil), 
              { prompt: "Select employees" }, 
              { 
                id: 'employee_select',
                multiple: true,
                required: true,
                data: { controller: 'select', select_target: "employee", action: "change->select#validate" }
              } 
        %>

        <div id="participated_employees_validation" class="invalid-feedback">
          Please select at least 2 employees.
        </div>
      </div>

      <div>
        <%= form.label :supplier, class: "form-label" %>
        <%= form.text_field :supplier, class: "form-control", placeholder: "Enter supplier", required: true %>
      </div>

      <div data-controller="image-validation">
        <%= form.label :image, "Invoice Image", class: "form-label" %>        
        <%= form.file_field :image, accept: "image/*", class: "form-control", required: true, data: { image_validation_target: "fileInput" } %>

        <div id="invoice_image_validation" class="invalid-feedback" data-image-validation-target="imageTypeErrorMessage">
          Please upload an image file (JPG, PNG, JPEG, etc.).
        </div>

        <div class="invalid-feedback" data-image-validation-target="fileSizeErrorMessage">
          File size should not exceed 10 MB.
        </div>

        <span class="form-text text-muted fst-italic">Maximum file size: 10mb</span>
      </div>

      <div class="d-flex justify-content-end my-3">
        <%= form.submit "Submit", id: "submit_btn", class: "btn btn-success col-12 col-md-auto", data: { form_validation_target: "submit" } %>
      </div>
    </div>
  </div>
<% end %>
