<%= form_with(model: reimbursement) do |form| %>
  <div class="container col-12 col-md-6 my-2">
    <h2>Before we begin</h2>
    <p>Please ensure all requirements are fulfilled before filing your benefit request:</p>

    <ol>
      <li>Have an invoice from the establishment ready. This invoice must be named to  <strong>LOUDCLOUD INC.</strong>, <strong>TIN# 008-052-609-000</strong>, with address at <strong>1 Champaca St., Roxas District, Quezon City 1103</strong>.</li>
      <li>Make sure to check the invoice date! An invoice related to the EE Program must be filed no later than the 5th day of the month following the Invoice Date.</li>
    </ol>

    <p>Note that Benefit Requests with insufficient or erroneous requirements may be denied. For questions and clarifications, contact any member of HR & Admin.</p>

    <hr>

    <div class="row">
      <div class="col-6">
        <%= form.label :employee_id %>
        <%= form.select :employee_id, @employee, { prompt: "Select an employee" }, id: 'employee_select', data: { controller: 'select' } %>
      </div>

      <div class="col-6">
        <%= form.label :category_id %>
        <%= form.select :category_id, @category, { prompt: "Select a category" }, id: 'category_select', data: { controller: 'select' } %>
      </div>

      <div>
        <%= form.label :activity_date, class: "form-label" %>
        <%= form.date_field :activity_date, max: 0.days.ago, class: "form-control" %>
      </div>

      <div class="col-6">
        <%= form.label :invoice_reference_number, class: "form-label" %>
        <%= form.text_field :invoice_reference_number, class: "form-control" %>
      </div>

      <div class="col-6">
        <%= form.label :invoice_amount, class: "form-label" %>
        <%= form.text_field :invoice_amount, class: "form-control" %>
      </div>

      <div>
        <%= form.label :participated_employee_ids, "Participated Employees", class: "form-label" %>
        <%= form.select :participated_employee_ids, @employee, { prompt: "Select employees" }, { id: 'employee_select', multiple: true, data: { controller: 'select' } } %>
      </div>

      <div>
        <%= form.label :supplier, class: "form-label" %>
        <%= form.text_field :supplier, class: "form-control" %>
      </div>

      <div class="d-flex justify-content-end my-3">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
