<% if @item_breakdown.present? %>
  <div class="my-3">
    <div class="collapse" id="breakdown_collapse">
      <h5>Breakdown</h5>
      <div class="card card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th scope="col">Activity</th>
              <th scope="col">Employees</th>
              <th class="text-end" scope="col">Consumption</th>
            </thead>
            <tbody>
              <% @item_breakdown.each do |item| %>
                <% participated_employees = item.participated_employees.map(&:nickname).join(", ") %>
                <tr>
                  <td>
                    <div class="d-flex">
                      <div>
                        <%= item.name %>
                        <div class="text-muted fs-7">
                          <%= item.activity_date.strftime("%B %d, %Y") %>
                        </div>
                      </div>
                    </div>
                  </td>
                  


                  <td class="text-truncate table-width-150" title="<%= participated_employees %>"><%= participated_employees %></td>
                  <td class="text-end">₱<%= number_with_delimiter(item.shared_amount) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
