<div class="col-12 col-md-6">
  <div class="row row-cols-1 g-4">
    <% total_spent = 0 %>
    <% @categories.each_with_index do |category, index| %>
      <% total_shared_amount = @reimbursement_items.find { |item| item.category_id == category.id }&.total_shared_amount || 0 %>
      <% total_spent += total_shared_amount %>
      <div class="col">
        <div class="card usage-card card-box-shadow">
          <div class="icon-background">
            <i class="<%= category.icon %>" style="color: <%= category.icon_color %>;"></i>
          </div>
          <div class="card-body text-end">
            <h5 class="card-title">
              <%= format_amount([ENV['MONTHLY_BUDGET'].to_i - total_shared_amount, 0].max) %>
              <span class="fs-6 fw-normal text-muted">left</span>
            </h5>

            <p class="card-text text-muted"><%= category.name %></p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col">
      <div class="card usage-card card-box-shadow">
        <div class="icon-background">
          <i class="fa-solid fa-money-bills fa-3x" style="color: #a3fc97;"></i>
        </div>
        <div class="card-body text-end">
          <h5 class="card-title"><%= format_amount(total_spent) %></h5>
          <p class="card-text text-muted">Total Spent</p>
        </div>
      </div>
    </div>
  </div>
</div>
