<div id="<%= dom_id reimbursement %>">
  <p>
    <strong>Employee:</strong>
    <%= reimbursement.employee_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= reimbursement.category_id %>
  </p>

  <p>
    <strong>Activity date:</strong>
    <%= reimbursement.activity_date %>
  </p>

  <p>
    <strong>Invoice reference number:</strong>
    <%= reimbursement.invoice_reference_number %>
  </p>

  <p>
    <strong>Invoice amount:</strong>
    <%= reimbursement.invoice_amount %>
  </p>

  <p>
    <strong>Reimbursable amount:</strong>
    <%= reimbursement.reimbursable_amount %>
  </p>

  <p>
    <strong>Reimbursed amount:</strong>
    <%= reimbursement.reimbursed_amount %>
  </p>

  <p>
    <strong>Participated employee ids:</strong>
    <%= reimbursement.participated_employee_ids %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= reimbursement.supplier %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reimbursement.status %>
  </p>

</div>
